$font-stack:    Helvetica, sans-serif;
$primary-color: #e73eaf;

body {
  font: 140% $font-stack;
  color: $primary-color;
}
.product__rewievs-stars-item object {
  height: 12.32px;
}
.product__rewievs-stars {
  display: flex;
}