@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);

$poppins: "Poppins", sans-serif;

$primary: #17696a;
$primary-hover: #145c5d;
$white: #ffffff;
$danger: #ff4242;
$success: #03cea4;
$warning: #f89828;
$info: #5a87fc;
$gray-100: #d7dadd;
$gray-200: #f4f5f6;
$gray-300: #e5e8ed;
$gray-400: #d7dadd;
$gray-500: #b3b7bc;
$gray-600: #9a9ca5;
$gray-700: #787a80;
$gray-800: #424551;
$gray-900: #1e212c;

$divider-gradient: linear-gradient(
  270.01deg,
  rgba(218, 219, 221, 0) 0%,
  rgba(218, 219, 221, 0.5) 12.33%,
  #dadbdd 51.91%,
  rgba(218, 219, 221, 0.5) 87.85%,
  rgba(218, 219, 221, 0) 100%
);

$shadow-small: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05),
  0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
$shadow-regular: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1),
  0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
$shadow-large: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1),
  0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);

@mixin title-h1 {
  font: {
    size: 46px;
    weight: 900;
  }
  line-height: 130%;
}
@mixin title-h2 {
  font: {
    size: 32px;
    weight: 900;
  }
  line-height: 130%;
}
@mixin title-h3 {
  font: {
    size: 28px;
    weight: bold;
  }
  line-height: 150%;
}
@mixin title-h4 {
  font: {
    size: 24px;
    weight: bold;
  }
  line-height: 130%;
}
@mixin title-h5 {
  font: {
    size: 20px;
    weight: bold;
  }
  line-height: 130%;
}
@mixin title-h6 {
  font: {
    size: 16px;
    weight: bold;
  }
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@mixin display {
  font: {
    size: 72px;
    weight: 900;
  }
  line-height: 130%;
  letter-spacing: 1px;
}
@mixin lead-regular {
  font: {
    size: 20px;
  }
  line-height: 150%;
}
@mixin lead-bold {
  font: {
    size: 20px;
    weight: bold;
  }
  line-height: 150%;
}
@mixin large-regular {
  font: {
    size: 20px;
  }
  line-height: 150%;
}
@mixin large-bold {
  font: {
    size: 18px;
    weight: bold;
  }
  line-height: 150%;
}
@mixin base-regular {
  font: {
    size: 16px;
  }
  line-height: 160%;
}
@mixin base-bold {
  font: {
    size: 16px;
    weight: bold;
  }
  line-height: 160%;
}
@mixin small-regular {
  font: {
    size: 14px;
  }
  line-height: 150%;
}
@mixin small-bold {
  font: {
    size: 14px;
    weight: bold;
  }
  line-height: 150%;
}
@mixin extrasmall-regular {
  font: {
    size: 12px;
  }
  line-height: 150%;
}
@mixin extrasmall-bold {
  font: {
    size: 12px;
    weight: 900;
  }
  line-height: 150%;
}

$opacity-15: 0.15;
$opacity-30: 0.3;
$opacity-50: 0.5;
$opacity-60: 0.6;

@mixin extrasmall-text {
  font: {
    size: 12px;
  }
  line-height: 150%;
}

@mixin extrasmall-bold-text {
  font: {
    size: 12px;
    weight: 900;
  }
  line-height: 150%;
}

@mixin small-text {
  font: {
    size: 14px;
  }
  line-height: 150%;
}

@mixin small-text-uppercase {
  font: {
    size: 14px;
    weight: bold;
  }
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin medium-text {
  font: {
    size: 18px;
  }
  line-height: 150%;
}

@mixin medium-text-uppercase {
  font: {
    size: 18px;
    weight: bold;
  }
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin display-1 {
  font: {
    size: 72px;
    weight: 900;
  }
  line-height: 130%;
  letter-spacing: 1px;
}

@mixin display-title {
  font-weight: 900;
  font-size: 30px;
  line-height: 130%;
  @media only screen and (min-width: 980px) {
    font-size: 46px;
  }
}

@mixin button-text {
  font: {
    size: 16px;
    weight: bold;
  }
  line-height: 50px;
  letter-spacing: 0.5px;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: $poppins;
  margin: 0;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}
.no-mobile {
  display: none;
  @media only screen and (min-width: 980px) {
    display: inline-block;
  }
}

.topbar {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: -0.045em;
  color: rgba($white, $opacity-60);
  background-color: $gray-900;
  padding: 12px 15px 11px;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__contacts {
    &-number {
      font-weight: 600;
    }
  }
  &__nav {
    flex-direction: column;
    order: 5;
    width: 100%;
    @media only screen and (min-width: 980px) {
    }
    @media only screen and (min-width: 768px) {
      flex-direction: row;
      display: flex;
      order: 2;
      width: auto;
    }
    &-item {
      & + & {
        @media only screen and (min-width: 768px) {
          margin-left: 32px;
        }
      }
    }
    &-toggle {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 12C1 11.4477 1.44772 11 2 11H22C22.5523 11 23 11.4477 23 12C23 12.5523 22.5523 13 22 13H2C1.44772 13 1 12.5523 1 12Z' fill='%23FFFFFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 18C1 17.4477 1.44772 17 2 17H22C22.5523 17 23 17.4477 23 18C23 18.5523 22.5523 19 22 19H2C1.44772 19 1 18.5523 1 18Z' fill='%23FFFFFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 6C1 5.44772 1.44772 5 2 5H22C22.5523 5 23 5.44772 23 6C23 6.55228 22.5523 7 22 7H2C1.44772 7 1 6.55228 1 6Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      width: 24px;
      top: 0;
      right: 0;
      order: 4;
      @media only screen and (min-width: 768px) {
        display: none;
      }
    }
  }
  &__actions {
    display: flex;
    order: 3;
  }
  &__language select {
    background-color: $gray-900;
    color: rgba($white, $opacity-60);
    font-size: 14px;
    font-weight: 200;
    border: none;
  }
  &__login {
    display: flex;
    margin-left: 25px;
    @media only screen and (min-width: 768px) {
      margin-left: 56px;
    }
    & svg {
      margin-right: 9px;
      padding: 2px 0 0;
    }
  }
}

.header {
  padding: 19px 15px;
  font-weight: 600;
  letter-spacing: -0.03em;
  font-size: 15px;
  z-index: 50;
  background: $white;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 15px;
    @media only screen and (min-width: 768px) {
      
    }
    & .header__right-block {
      display: none;
      @media only screen and (min-width: 980px) {
        display: flex;
      }
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__left-block {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
    @media only screen and (min-width: 980px) {
      width: auto;
    }
  }
  &__logo {
    padding-top: 6px;
    margin-right: 59px;
    margin-bottom: 10px;
    @media only screen and (min-width: 980px) {
      margin-bottom: 0;
    }
  }
  &__menu {
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
      display: flex;
    }
    @media only screen and (min-width: 980px) {
      width: auto;
      margin-bottom: 0;
    }
    &-item {
      & + & {
        @media only screen and (min-width: 768px) {
          margin-left: 40px;
        }
      }
      &.sale-item {
        color: $danger;
      }
    }
    &-toggle {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 12C1 11.4477 1.44772 11 2 11H22C22.5523 11 23 11.4477 23 12C23 12.5523 22.5523 13 22 13H2C1.44772 13 1 12.5523 1 12Z' fill='%231E212C'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 18C1 17.4477 1.44772 17 2 17H22C22.5523 17 23 17.4477 23 18C23 18.5523 22.5523 19 22 19H2C1.44772 19 1 18.5523 1 18Z' fill='%231E212C'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 6C1 5.44772 1.44772 5 2 5H22C22.5523 5 23 5.44772 23 6C23 6.55228 22.5523 7 22 7H2C1.44772 7 1 6.55228 1 6Z' fill='%231E212C'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      width: 24px;
      height: 34px;
      background-color: #fff;
      top: 0;
      right: 0;
      @media only screen and (min-width: 768px) {
        display: none;
      }
    }
  }
  &__right-block {
    display: flex;
    align-items: center;
    width: 100%;
    @media only screen and (min-width: 980px) {
      width: auto;
    }
  }
  & form {
    position: relative;
  }
  & button {
    position: absolute;
    border: none;
    background: transparent;
    top: 0;
    right: 0;
    padding: 15px 16px 12px;
  }
  & input {
    padding: 15px 16px 12px;
    max-width: 100%;
    @media only screen and (min-width: 980px) {
      width: 343px;
    }
  }
  &__favorites {
    display: flex;
    padding-right: 15px;
    margin-left: 15px;
    @media only screen and (min-width: 768px) {
      margin-left: 48px;
      padding-right: 20px;
    }
    & div {
      font-size: 16px;
      margin-left: 8px;
    }
  }
  &__shopping-cart {
    display: flex;
    padding-left: 15px;
    border-left: 1px solid $gray-400;
    @media only screen and (min-width: 768px) {
      padding-left: 17px;
    }
    & div {
      background: #03cea4;
      height: 20px;
      padding: 0 8px;
      border-radius: 4px;
      display: inline-block;
      font-weight: 900;
      font-size: 12px;
      color: #ffffff;
      line-height: 20px;
      margin-left: 8px;
    }
  }
}

.banner-string {
  @include extrasmall-text;
  background-color: $primary;
  color: $white;
  padding: 9px 15px 6px;
  display: flex;
  justify-content: center;
  &__text {
    padding: 0 17px;
    font-weight: 600;
    letter-spacing: 0.009em;
  }
  &__link {
    font-size: 10px;
    color: $white;
    font-weight: 400;
  }
}

.main-slider {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  & .container {
    position: relative;
    padding: 100px 0;
    @media only screen and (min-width: 980px) {
      padding: 140px 0 390px;
    }
  }
  &__item {
    padding: 0 15px;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: fade;
    animation-duration: 1.5s;
    &:nth-of-type(1) {
      background-color: #fce4d7;
      @media only screen and (min-width: 768px) {
        background-image: url("/src/images/main-slider1.jpg");
      }
    }
    &:nth-of-type(2) {
      background-color: #ddede4;
      @media only screen and (min-width: 768px) {
        background-image: url("/src/images/main-slider4.jpg");
      }
    }
    &:nth-of-type(3) {
      background-color: #dbdcd7;
      @media only screen and (min-width: 768px) {
        background-image: url("/src/images/main-slider3.jpg");
      }
    }
    &:nth-of-type(4) {
      background-color: #d5e5df;
      @media only screen and (min-width: 768px) {
        background-image: url("/src/images/main-slider2.jpg");
      }
    }
  }
  &__title {
    font-size: 45px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: $gray-900;
    margin-bottom: 50px;
    overflow-wrap: break-word;
    @media only screen and (min-width: 980px) {
      font-size: 72px;
    }
  }
  &__subtitle {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: $gray-900;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  & .button:first-of-type {
    margin: 0 20px 20px 0;
  }
  &__arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    top: calc(50% - 56px);
    background-color: rgba($white, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 32px;
    cursor: pointer;
    @media only screen and (min-width: 980px) {
      display: flex;
    }
    &:hover {
      background-color: $primary;
      color: $white;
      & * {
        stroke: white;
        fill: white;
      }
    }
  }
  &__prev {
    left: 0;
  }
  &__next {
    right: 0;
  }
  &__nav {
    position: absolute;
    left: 0;
    bottom: 178px;
    display: none;
    flex-wrap: wrap;
    cursor: pointer;
    @media only screen and (min-width: 980px) {
      display: flex;
    }
    &-item {
      width: 176px;
      font-weight: bold;
      font-size: 28px;
      line-height: 150%;
      color: $gray-800;
      padding: 10px 0;
      border-bottom: 2px solid rgba($gray-800, 0.3);
      opacity: 0.6;
      &:hover {
        border-bottom: 2px solid $gray-800;
        opacity: 0.7;
      }
      &.active {
        border-bottom: 2px solid $gray-800;
        opacity: 1;
      }
      & + & {
        margin-left: 5px;
      }
    }
  }
}

.categories {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: $gray-800;
  padding-top: 15px;
  @media only screen and (min-width: 980px) {
    top: -65px;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media only screen and (min-width: 768px) {
      flex-wrap: nowrap;
    }
  }
  &__card {
    & + & {
      @media only screen and (min-width: 768px) {
        margin-left: 30px;
      }
    }
    img {
      margin-bottom: 9px;
    }
  }
}

.carousel {
  padding: 50px 15px;
  @media only screen and (min-width: 980px) {
    padding: 120px 30px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 92px;
    @media only screen and (min-width: 980px) {
      flex-wrap: nowrap;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 46px;
    line-height: 130%;
    color: #1e212c;
    text-align: center;
    margin-bottom: 24px;
    letter-spacing: -0.05em;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: -0.08em;
    &-link {
      display: block;
      color: $primary;
      text-decoration: underline;
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    &-item {
      width: 30px;
      border-bottom: 3px solid $gray-500;
      & + & {
        margin-left: 12px;
      }
      &.active {
        border-bottom: 3px solid $gray-800;
      }
    }
  }

  & .product__price {
    font-size: 20px;
  }
}

.main-grid {
  padding: 58px 30px;
  display: flex;
  flex-wrap: wrap;
  &__subtitle {
    @include small-text-uppercase;
    margin: 60px 60px 12px;
  }
  &__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    margin: 0 60px 40px;
    color: $gray-900;
  }
  &__item {
    height: 496px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__item--width-40 {
    width: 100%;
    @media only screen and (min-width: 980px) {
      width: calc(40% - 8px);
    }
  }
  &__item--width-60 {
    width: 100%;
    @media only screen and (min-width: 980px) {
      width: calc(60% - 8px);
    }
  }
  &__item1 {
    background-image: url(/src/images/grid1.jpg);
    margin: 0 8px 8px 0;
  }
  &__item2 {
    background-image: url(/src/images/grid2.jpg);
    margin: 0 0 8px 8px;
  }
  &__item3 {
    background-image: url(/src/images/grid3.jpg);
    margin: 8px 8px 8px 0;
  }
  &__item4 {
    background-color: $gray-300;
    background-image: url(/src/images/grid4.png);
    background-position: bottom right;
    background-size: auto;
    margin: 8px 0 8px 8px;
  }
  & button {
    background: transparent;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.5px;
    margin: 0 60px;
  }
  .subscribe-form {
    @media only screen and (min-width: 980px) {
      margin: 0 60px;
    }
  }
}

.populars {
  padding: 115px 15px 153px;
  &__title {
    @include display-title;
    color: $gray-900;
    text-align: center;
    margin-bottom: 60px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media only screen and (min-width: 980px) {
      flex-wrap: nowrap;
    }
  }
  &__item {
    &-image {
      margin-bottom: 15px;
    }
    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 150%;
      color: $gray-900;
      text-align: center;
      margin-bottom: 24px;
    }
    & + & {
      margin-left: 12px;
    }
  }
}

.trends {
  background-color: $gray-300;
  text-align: center;
  padding: 80px 15px;
  & .container {
    position: relative;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
    flex-wrap: wrap;
    @media only screen and (min-width: 768px) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  &__title {
    @include display-title;
    color: $gray-900;
    margin-bottom: 60px;
    text-align: left;
    font-weight: 600;
    letter-spacing: -0.07em;
  }
  &__prev {
    position: absolute;
    top: 35px;
    right: 48px;
  }
  &__next {
    position: absolute;
    top: 35px;
    right: 0;
  }
}

.sale {
  padding: 102px 15px 148px;
  text-align: center;
  & .container {
    position: relative;
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 93px;
    @media only screen and (min-width: 768px) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  &__title {
    @include display-title;
    color: $gray-900;
    margin-bottom: 60px;
    text-align: left;
    font-weight: 600;
    letter-spacing: -0.07em;
  }
  &__prev {
    position: absolute;
    top: 32px;
    right: 48px;
  }
  &__next {
    position: absolute;
    top: 32px;
    right: 0;
  }
}

.applications {
  background-color: $gray-900;
  padding: 60px 15px 50px;
  & .container {
    position: relative;
  }
  &__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: $white;
    margin-bottom: 50px;
    @media only screen and (min-width: 980px) {
      margin-left: 51%;
    }
  }
  &__buttons {
    @media only screen and (min-width: 980px) {
      margin-left: 51%;
    }
  }
  &__image {
    position: absolute;
    bottom: -60px;
    left: -28px;
  }
}

.benefits {
  padding: 118px 15px;
  &__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    @media only screen and (min-width: 980px) {
      flex-wrap: nowrap;
    }
    & img {
      margin-bottom: 24px;
    }
  }
  &__item {
    width: 25%;
    min-width: fit-content;
    & + & {
      border-left: 1px solid #dadbdd;
      margin-left: 30px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: $gray-900;
    margin-bottom: 8px;
  }
  &__subtitle {
    font-size: 16px;
    line-height: 160%;
    color: $gray-700;
  }
}
.instagram {
  & .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $gray-900;
    margin-bottom: 8px;
  }
  &__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 130%;
    color: $gray-900;
    margin-bottom: 60px;
    @media only screen and (min-width: 980px) {
      font-size: 46px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    &-item {
      & + & {
        margin-left: 15px;
      }
    }
  }
}
.blog {
  padding: 80px 15px;
  & .container {
    position: relative;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media only screen and (min-width: 980px) {
      flex-wrap: nowrap;
    }
  }
  &__card {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05),
      0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    width: 100%;
    @media only screen and (min-width: 980px) {
      width: calc(50% - 15px);
    }
    &-image {
      margin-bottom: 24px;
    }
    &-title {
      font-weight: bold;
      font-size: 20px;
      line-height: 150%;
      color: $gray-900;
      margin-bottom: 12px;
      padding: 0 24px;
    }
    &-meta {
      font-size: 14px;
      line-height: 150%;
      color: $gray-700;
      margin-bottom: 16px;
      display: flex;
      padding: 0 24px;
      & div {
        padding-right: 12px;
      }
    }
    &-description {
      padding: 0 24px;
      font-size: 16px;
      line-height: 160%;
      color: $gray-800;
      margin-bottom: 21px;
    }
    & + & {
      @media only screen and (min-width: 980px) {
        margin-left: 30px;
      }
    }
  }
  &__title {
    @include display-title;
    color: $gray-900;
    margin-bottom: 60px;
    text-align: left;
  }
  & .button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.brands {
  padding: 80px 15px;
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.subscribe {
  background-color: $gray-200;
  padding: 65px 15px;
  & .container {
    @media only screen and (min-width: 980px) {
      background-image: url(/src/images/subscribe2.png);
      background-position: center right;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__title {
    margin-top: 35px;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: $gray-900;
  }
  & &-form__description {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 150%;
    color: $gray-700;
    width: 100%;
  }
  &-form__radio {
    & input {
      position: absolute;
      z-index: -1;
    }
    & label {
      border: 1px solid $gray-400;
      box-sizing: border-box;
      border-radius: 4px;
      color: $gray-700;
      font-weight: bold;
      font-size: 14px;
      line-height: 32px;
      padding: 0 16px;
      display: inline-block;
      border-radius: 4px;
      margin-bottom: 32px;
    }
    & input:checked + label {
      background: #17696a;
      color: $white;
    }
  }
  &-form__checkbox {
    width: 100%;
    margin-bottom: 35px;
  }
  &-form__succes {
    color: #17696a;
    font-size: 20px;
    position: absolute;
    bottom: 0;
  }
}

footer {
  @include small-text;
  background-color: $gray-900;
  color: $white;
}

.footer-top {
  padding: 60px 15px 40px;
  & .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.footer-bottom {
  & .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  border-top: 1px solid rgba($white, $opacity-15);
  padding: 24px 15px 32px;
}

img {
  max-width: 100%;
}
.product {
  text-align: left;
  &__image {
    position: relative;
    margin-bottom: 5px;
  }
  &__rewievs-stars {
    display: flex;
    position: absolute;
    top: 10px;
    right: 16px;
  }
  &__favorites {
    position: absolute;
    bottom: 26px;
    right: 16px;
    width: 32px;
    height: 32px;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  &__label {
    position: absolute;
    top: 10px;
    left: 16px;
    background: $danger;
    border-radius: 4px;
    width: 54px;
    height: 28px;
    color: $white;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    @include medium-text;
    margin-bottom: 8px;
    color: $gray-800;
    margin-left: 16px;
    letter-spacing: -0.08em;
  }
  &__price {
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: $gray-900;
    display: flex;
    margin-left: 16px;
    letter-spacing: -0.08em;
    & .price--type_sale {
      color: $danger;
      margin-right: 12px;
    }
    & .price--type_crossed-out {
      color: $gray-700;
      font-weight: normal;
      font-size: 18px;
      text-decoration-line: line-through;
    }
  }
  & + & {
    @media only screen and (min-width: 768px) {
      margin-left: 30px;
    }
  }
}

input {
  padding: 11px 16px 12px;
  border: 1px solid $gray-100;
  border-radius: 4px;
  &::placeholder {
    color: $gray-600;
    @include small-text;
  }
}

.button {
  @include button-text;
  padding: 0 40px;
  border-radius: 4px;
  letter-spacing: -0.7px;
  cursor: pointer;
  &--type-border {
    border: 1px solid $primary;
    color: $primary;
    background: transparent;
    &:hover {
      background: $primary;
      color: $white;
    }
  }
  &--type-color {
    border: 1px solid $primary;
    color: $white;
    background: $primary;
    &:hover {
      background: $primary-hover;
      color: $white;
    }
  }
  &:hover {
    background: $primary-hover;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  position: relative;
  &__label {
    display: block;
    margin-bottom: 8px;
    width: 100%;
  }
  &__input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    line-height: 44px;
    padding: 0 40px;
    margin-bottom: 20px;
  }
  &__button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: 1px solid #17696a;
    color: $white;
    background: #17696a;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 44px;
    padding: 0 40px;
    margin-bottom: 20px;
    opacity: 0.6;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}
